<% provide :page_title, 'Your Lessons'%>
<% provide :author, 'active'%>
<div class="container">
  <div class="row">
<div class="mx-auto">
    <%= link_to 'New Lesson', new_authors_lesson_path, class: 'btn btn-primary' %>
</div>
<br>
<br>

    <table class="table table-striped">
        <tr>
          <th colspan="5">Title</th>
        </tr>
    <%= render @lessons %>
    </table>

  </div>
</div>
