.navbar{
  border-radius: 0;
  margin-bottom: 20px;
  margin-bottom: 0;

  .einstein{
    height: 35px;
  }
}
.raleway{
  font-family: 'Raleway', serif;
  font-weight: 400;
}
.navbar-brand{
  transition: all .1s ease-in-out;
  font-family: 'Raleway', serif;
  font-weight: 400;
  font-size: 1.8em;
}
.navbar-brand:hover{
  transform: scale(1.07);
}
.test{
  color: #212529;
}
.icon{
  width: 27.5px;
  height: 27.5px;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;


}
